<span id="todo-count">
  <strong>{{ activeCount }}</strong> {{ activeCountLabel }}
</span>
<!--<span id="todo-completed">-->
  <!--<strong>{{ completedCount }}</strong> {{ completedCountLabel}}-->
<!--</span>-->